#box_1{
  border: solid black 2px;
  height:100px;
  width: 200px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(235, 96, 92);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(13, 13, 14);
  font-size: 30px;
  margin-top: 50px;
}
.main_section{
    display: flex;
    justify-content: center;
    align-items: center;
}